table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
}

th {
    text-align: center;
}


@media only screen and (max-width: 800px) {

    table {
        width: 80%;
    }

    th,
    td {
        width: 50%;
        font-size: 13px;
    }

    li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 576px) {

    table {
        width: 80%;
    }

    th,
    td {
        width: 50%;
        font-size: 12px;
    }

    li {
        font-size: 12px;

    }
}